* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background: white;
  border: solid 1mm darkred;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url("logo.png");
  filter: drop-shadow(10px 10px 5px lightgray);
}

/* Your CSS below here */
article .top{
    position:absolute;
    max-width:100%;
    float:top;
    background: linear-gradient(180deg, lightgray, white);
    top:0mm;
}

 article .bottom{
    position:absolute;
    max-width:100%;
    float:bottom;
    background: linear-gradient(180deg, white, lightgray);
    bottom: 0mm;
}


